.header{
    background-image: url(kepek/fejlec.jpg);
    grid-area: h;
    height: 100%;
}

body{
    background-image: url(kepek/hatter.jpg);
    max-width: 1000px;
    margin: auto;
}

.buttons{
    grid-area: b;

}

.images{
    grid-area: i;
}

.text{
    grid-area: t;
}

.footer{
    background-color: dodgerblue;
    grid-area: f;
    height: 100%;
}

.grid{
    background-color: white;
    align-items: center;
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-areas: 
    'h h h'
    'h h h'
    'b i t'
    'b i t'
    'b i t'
    'b i t'
    'b i t'
    'f f f';
}